body, html {
    margin: 0;
    padding: 0;
    min-height: 100%;
    font-family: Arial, sans-serif;
}

.container {
    width: 100%;
    margin: 0 auto; 
}
.header {
    background-color: #4cc0ad;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    width: 100%; 
}

.navigation {
    background-color: #444;
    padding: 10px 0;
    text-align: center;
}

.navigation nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.navigation nav ul li {
    display: inline;
    margin-right: 20px;
}

.navigation nav ul li a {
    text-decoration: none;
    color: #fff;
    background-color: #666;
    padding: 8px 15px;
    border-radius: 5px;
    
}

.content img {
    float: left;
    margin-right: 20px;
    max-width: 200px; 
    border-radius: 5px;
}


.content {
    padding: 20px;
    box-sizing: border-box;
    min-height: calc(100% - 40px); 
}

.footer {
    background-color: #4cc0ad;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}